<!-- layout -->
<div class="container">
  <div class="row">
    <div class="col">
     <app-who-i-am></app-who-i-am>
    </div>
    <div class="col">
      <app-inspiration></app-inspiration>
    </div>
  </div>
</div>
