<div class="d-flex">
    <div class="justify-content-center">

      <div class="row">
          <div class="d-flex justify-content-between">
              <div>tabs</div>
              <div>letras</div>
          </div>
      </div>

      <div class="row">
          <div class="d-flex justify-content-between">
              <div>covers</div>
              <div>sobre</div>
          </div>
      </div>

    </div>
</div>
